 :root{
  --red: #D80032;
  --sky: #41EAD4;
  --dark: #2B2D42;
  --white:white;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: 'Roboto',sans-serif;
}
.wrapper{
    width: 1152px;
    padding:0 100px;
}

p{
    line-height: 2;
    margin-bottom: 20px;
}
section p{
    color: var(--dark);
}
.desktop-nav{
    width:952px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FEFEFE;
box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
border-radius: 24px;
padding: 5px 30px;
padding-right: 0;
z-index: 200;
position: fixed;
top:28px;
}
.menu-item{
    display: flex;
   
}
.desktop-nav .menu-item li{
    list-style: none;
    margin:0 20px;
}
.desktop-nav .menu-item li a.active::after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #D80032;
    left: 0;
    bottom: -14px;
    position: absolute;
}
li a{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
width: 57px;
height: 19px;
text-decoration: none;
color: var(--dark);
position: relative;
}
.btn{
width: 143px;
height: 47px;
background: #D80032;
border-radius: 24px;
color: var(--white);
transition: background 400ms;
}
a.btn{
   padding:14px 30px;
}

a.btn:hover{
  background-color: crimson;
}
a.btn.cyan:hover{
    background-color: paleturquoise;
  }
.desktop-nav .menu-item li:nth-last-of-type(1){
    margin-right: 0;
}

.hero-container{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hero-container .left{
    flex: 1;
}
.left p{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
color: #2B2D42;
width: 127px;
height: 28px;
margin-bottom: 9px;
}

.left h1{
    width: 295px;
height: 44px;
margin-bottom: 25px;
font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 44px;
color: #2B2D42;
/* identical to box height */
}
.left span{
    
color:var(--red);
}
a.btn.cyan{
    background-color: var(--sky);
}
.left .btn{
    margin-right: 20px;
} 
.right{
    padding-right: 30px;
}
.polygon-container .polygon{
    position: absolute;
    left: 278.91px;
    top: 108px;
}

.polygon-container .polygon2{
    position: absolute;
    left: 492.79px;
    top: 142px;
}

.polygon-container .polygon3{
    position: absolute;
    left: 492.79px;
    top: 242px;
}
.hero-bg{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.brand-section{
    width: 1012px;
    
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 70px;
    background: #FEFEFE;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
    padding: 32px 50px;
}
.brand-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.about-section,section.project {
    width: 1012px;
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 70px;
}

.brand-section h2,
.about-section h2,
.project h2,
section.testimonial-section h2,
.contact-section h2{
    font-family: "Montserrat";
    font-size: 32px;
    color: var(--dark);
    margin-bottom: 25px;
    text-align: center;
    position: relative;
}
.about-section h2{
   margin-left: -30px;
}
.brand-section h2::after,
section h2::after,
.project h2::after,
section.testimonial-section h2::after,
.contact-section h2::after{
    content: '';
    width: 43px;
    height: 3px;
    background-color: var(--red);
    position: absolute;
    top:38px;
    transform: translateX(-43px);
}
.brand-container img{
    height: 32px;
}
.section-content{
    display: flex;
    align-items: center;
}
.section-content img{
    margin-left: 100px;
}
section.testimonial-section{
    padding-left: 70px;
    margin-top: 30px;
   scroll-behavior: none;
    background-color: #F6F9FA;
}
.slider-container{
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    padding:8px 24px;
}
.name{
    background-color: var(--dark);
    color:var(--white);
    padding:8px 24px;
    display: inline-block;
    margin-left: 16px;
}
.testimonial-container{
    position: relative;
  
}
.prev{
    position: absolute;
    top: 68px;
    left:-80px;
}
.icon_right{
    top:68px;
    position: absolute;
    right: -120px;
}
.contact-section h2{
    margin-top: 20px;
   margin-left: -90px;
}
.wrapper1{
    width: 1012;
    margin: 100px 70px;
}
.logo{
    background-color: white;
    opacity: 1;
    border-radius: 20px;
    
}
footer{
    background-color: var(--dark);
    color: white;
    margin-top: 60px;
    padding: 30px;
}
footer a{
    text-decoration: none;
    color: white;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 32px 0;
   
}
.footer-nav ul {
    margin-top: 20px;
   list-style: none;
}
li{
    line-height: 22px;
}
ul img{
    margin-left: -7px;
    padding-right: 15px;
}
.em{
   padding-left: 20px;
}
/* animation */

.desktop-nav{
    animation: fadeDown 1000ms forwards;
}
.project-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   grid-gap:40px 18px;
   margin-bottom: 42px;
}
.group{
    display: flex;
}
input[type=text],textarea{
    padding: 15px 30px;
    background: #FEFEFE;
border: 1px solid #2B2D42;
box-sizing: border-box;
box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.11);
border-radius: 24px;
flex: 1;
margin-bottom: 36px;
}
input[type=text]:nth-of-type(2){
    margin-left: 20px;
}
@keyframes fadeDown{
    from{
        opacity: 0;
        transform: translateY(-25px);
    }
    to{
        opacity: 1;
    }
}


